{% extends "base.html" %}

{% block body_full %}
<div class="p-5 bg-info bg-gradient shadow-lg">
  <div class="h-100 p-5 m-5 bg-dark bg-gradient text-white rounded-3">
    <h1 style="font-family: 'Lobster', cursive;">ShopList</h1>
    <p>Hey! Welcome to ShopList! If you were looking for somewhere to make and manage shopping lists,
      you're in the right place. You can get started by adding items to your collection, then build
      a list from those items. You have access to a wide number of pre-selected tags, or you can add
      your own. Once you've finished shopping, mark your list as completed and save it for later review.
    </p>
    <a href="{% url 'signup' %}" class="btn btn-outline-light">Sign Up</a>
    <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
  </div>
</div>


<div class="row justify-content-center" style="height: 15rem; position: relative; bottom: 50px;">
  <div class="card col-md-4 px-0 mb-grid-gutter shadow-lg border-0" style="max-width: 25%;">
    <div class="card-body bg-success bg-gradient rounded align-items-center text-white d-block text-center text-decoration-none">
      <h3 class="pt-1 mb-0">Tag</h3>
      <p class="m-4">Choose from a default assortment of store and category tags, or create your own.</p>
    </div>
  </div>
  <div class="card col-md-4 px-0 mb-grid-gutter shadow-lg ms-3 border-0" style="max-width: 25%;">
    <div class="card-body bg-success bg-gradient rounded text-white d-block text-center text-decoration-none">
      <h3 class="pt-1 mb-0">Item</h3>
      <p class="m-4">Build your collection of items to use in creating your ShopLists.</p>
    </div>
  </div>
  <div class="card col-md-4 px-0 mb-grid-gutter shadow-lg ms-3 border-0" style="max-width: 25%;">
    <div class="card-body bg-success bg-gradient rounded text-white d-block text-center text-decoration-none">
      <h3 class="pt-1 mb-0">List</h3>
      <p class="m-4">Start making lists!</p>
    </div>
  </div>
</div>



{% endblock %}
