{% extends 'base.html' %}

{% block body %}
<h1 class="mb-4">Confirm Delete</h1>

<ul class="list-group col" style="max-width: 33%;">
  <li class="list-group-item"><h4>{{ item.name }}</h4>${{ item.price }}</li>
  <li class="list-group-item">Category: {{ item.category }}</li>
  <li class="list-group-item">Store: {{ item.store }}</li>
</ul>

<form method="POST">
	{% csrf_token %}
	<input type="submit" value="Confirm Delete" class="btn btn-danger btn-large mt-2">
	<a href="{% url 'user_items' %}" class="btn btn-simple btn-large btn-default">Cancel</a>
</form>

{% endblock body %}
