{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="d-flex justify-content-center">
  <h1>{{ shoplist.title }}</h1>
</div>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 25rem;">
    <div class="{% if shoplist.active == False %}imgcon{% endif %}">
      {% if img_url %}
      <img src="{% static img_url %}" class="card-img-top" style="height: 16rem">
      {% if shoplist.active == False %}
      <div class="center-overlay">Complete!</div>
      {% endif %}
      {% endif %}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{shoplist.title}}</h5>
      <p class="card-text"><em>Total cost:</em> <strong>${{shoplist.total}}</strong></p>
    </div>
    <ul class="list-group list-group-flush">
      {% for item in shoplist.items.all %}
      <li class="list-group-item">
        {{ item }} ${{ item.price }}
      </li>
      {% endfor %}
      <li class="list-group-item">
        <div class="row me-2 ms-2 mb-2">
            <a href="{% url 'list_edit' pk=shoplist.id %}" class="btn btn-primary col me-1">Edit</a>
            <a href="{% url 'delete_list' pk=shoplist.id %}" class="btn btn-danger col ms-1">Delete</a>
        </div>
          <div class="row me-2 ms-2">
            {% if shoplist.active %}
            <a href="{% url 'list_complete' slug=shoplist.title pk=shoplist.id%}" class="btn btn-success">Mark Complete</a>
            {% else %}
            <a href="{% url 'list_complete' slug=shoplist.title pk=shoplist.id%}" class="btn btn-warning">Mark Incomplete</a>
            {% endif %}
          </div>
        </div>
    </li>
    </ul>
  </div>
</div>

{% endblock body %}
