{% extends 'base.html' %}

{% block body %}
<div>
  {% if user.display_name %}
  <h1 class="col">{{ user.display_name }}'s Tags</h1>
  {% else %}
  <h1>My Items</h1>
  {% endif %}

</div>

<div class="row">
  <h2 class="col">Stores</h2>
  <a href="{% url 'new_store' %}" style="max-width: 12%;" class="btn btn-primary col mb-4 mt-2 me-4">Add</a>
</div>

<div class="container mb-3">
  <ul class="list-group">
    {% for store in store_list %}
    <li class="list-group-item">
      {% if store.private == True %}
      <a href="{% url 'delete_store' pk=store.id %}" ><span class="badge bg-danger me-2">x</span></a>
      {% else %}
      <span class="badge bg-primary me-2">D</span>
      {% endif %}
      {{ store.name }}
    </li>

  {% endfor %}
  </ul>
</div>

<div class="row">
  <h2 class="col">Departments</h2>
  <a href="{% url 'new_category' %}" style="max-width: 12%;" class="btn btn-primary col mb-4 mt-2 me-4">Add</a>
</div>

<div class="container mb-3">
  <ul class="list-group">
    {% for category in category_list %}
    <li class="list-group-item">
      {% if category.private == True %}
      <a href="{% url 'delete_category' pk=category.id %}" ><span class="badge bg-danger me-2">x</span></a>
      {% else %}
      <span class="badge bg-primary me-2">D</span>
      {% endif %}
      {{ category.name }}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock body %}
