{% extends 'base.html' %}

{% block body %}

{% if user.display_name %}
<h1>{{ user.display_name }}'s Items</h1>
{% else %}
<h1>My Items</h1>
{% endif %}

{# Cycle tags are being used here to define the 3-column row structure #}
{% for item in item_list %}

  {% cycle '<div class="row">' '' '' as new_row silent %}
  {% cycle '' '' '</div>' as new_row_close silent %}

    {{ new_row }}
        <ul class="list-group col" style="max-width: 33%;">
          <li class="list-group-item"><h4>{{ item.name }}</h4>${{ item.price }}</li>
          <li class="list-group-item">Dept: {{ item.category }}</li>
          <li class="list-group-item">Store: {{ item.store }}</li>
        </ul>
    {{ new_row_close }}

{% endfor %}

{% endblock body %}
