{% extends 'base.html' %}

{% block body %}
<div class="row">
  {% if user.display_name %}
  <h1 class="col">{{ user.display_name }}'s Items</h1>
  <a href="{% url 'new_item' %}" style="max-width: 20%;" class="btn btn-primary col mb-2 mt-2 me-4" >New Item</a>
  {% else %}
  <h1 class="col">My Items</h1>
  {% endif %}

</div>




{# Cycle tags are being used here to define the 3-column row structure #}
{% for item in item_list %}

  {% cycle '<div class="row mb-2">' '' '' as new_row silent %}
  {% cycle '' '' '</div>' as new_row_close silent %}

    {{ new_row }}
        <ul class="list-group col" style="max-width: 33%;">
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <h3>{{ item.name }}</h3>
              </div>
              <div class="col text-end">
                <a href="{% url 'delete_item' pk=item.id %}" class="col"><span style="font-size: 1rem;" class="badge bg-danger">Delete</span></a>
              </div>
            </div>
            <div class="row">
              <h5 class="col mb-0">${{ item.price }}</h5>
            </div>
          </li>
          <li class="list-group-item">Dept: {{ item.category }}</li>
          <li class="list-group-item">Store: {{ item.store }}</li>
        </ul>
    {{ new_row_close }}

{% endfor %}

{% endblock body %}
